/* Copyright 2014 Christoph Gärtner
   Distributed under the GNU Affero General Public License, Version 3 or later
*/

body {
    background: #FFF;
    color: #000;
    margin: 0.5em;
    padding: 0;
    font-family: serif;
}

big, small { color: #000 }
big { font-family: sans-serif }

a {
    text-decoration: none;
    color: #009;
}
a:hover { text-decoration: underline }
a:after {
    color: transparent;
    content: '!';
    font-weight: normal;
    font-family: serif;
    font-size: 110%;
    line-height: 0;
}
a:hover:after {
    color: #F00;
    content: '!';
    font-weight: normal;
    font-family: serif;
    font-size: 110%;
    line-height: 0;
}

a.img:after { content: ''; }
a.img:hover:after { content: ''; }

#moves {
    font-size: 90%;
    max-height: 536px;
    overflow-y: auto;
    max-width: 20em;
}

#moves span, #moves a { font-family: monospace }
#moves div { margin-bottom: 0.5em }
#moves a {
    font-size: 150%;
    font-weight: bold;
    position: relative;
    top: 2px;
}

.toolbar {
    float: left;
    margin-right: 0.5em;
}
.toolbar input { width: 3em }

.navbar {
    float: left;
    text-align: center;
    margin-top: 1em;
    width: 10em;
}

.navbar input { width: 9em }

table {
    font-family: sans-serif;
    float: left;
    border-spacing: 1px;
    border-collapse: separate;
    border: 0 none;
    background: #444;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

th { background: #EEE }

td {
    line-height: 0;
    font-size: 48px;
    width: 64px;
    height: 64px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
}

tr:nth-child(odd)  td:nth-child(odd)  { background: #FFF }
tr:nth-child(odd)  td:nth-child(even) { background: #CCC }
tr:nth-child(even) td:nth-child(even) { background: #FFF }
tr:nth-child(even) td:nth-child(odd)  { background: #CCC }

td.square     { cursor: cell }
td.selected   { cursor: pointer; border-color: #FF4; }
td.unselected { cursor: default }
td.mobile     { cursor: pointer; border-color: #4F4; }
td.target     { cursor: pointer; border-color: #F44; }
